<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longcheng.xxh.energycenter.dao.plan.PlanMapper">

  <resultMap id="BaseResultMap" type="com.longcheng.xxh.energycenter.entity.plan.Plan" >
    <result column="id" property="id" />
    <result column="start_time" property="startTime" />
    <result column="end_time" property="endTime" />
    <result column="area" property="area" />
    <result column="media_name" property="mediaName" />
    <result column="plan_number" property="planNumber" />
    <result column="measure_ment" property="measureMent" />
    <result column="plan_use_total" property="planUseTotal" />
    <result column="plan_output_total" property="planOutputTotal" />
    <result column="create_by" property="createBy" />
    <result column="create_date" property="createDate" />
    <result column="remark" property="remark" />
  </resultMap>

  <sql id="Base_Column_List">
                id,
                start_time,
                end_time,
                area,
                media_name,
                plan_number,
                measure_ment,
                plan_use_total,
                plan_output_total,
                create_by,
                create_date,
                remark
    </sql>

  <insert id="add" useGeneratedKeys="true" keyColumn="id" parameterType="com.longcheng.xxh.energycenter.entity.plan.Plan">
    INSERT INTO EMS_ENERGY_PLAN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test ='null != id'>
        id,
      </if>
      <if test ='null != startTime'>
        start_time,
      </if>
      <if test ='null != endTime'>
        end_time,
      </if>
      <if test ='null != area'>
        area,
      </if>
      <if test ='null != mediaName'>
        media_name,
      </if>
      <if test ='null != planNumber'>
        plan_number,
      </if>
      <if test ='null != measureMent'>
        measure_ment,
      </if>
      <if test ='null != planUseTotal'>
        plan_use_total,
      </if>
      <if test ='null != planOutputTotal'>
        plan_output_total,
      </if>
      <if test ='null != createBy'>
        create_by,
      </if>
      <if test ='null != createDate'>
        create_date,
      </if>
      <if test ='null != remark'>
        remark
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test ='null != id'>
        #{id},
      </if>
      <if test ='null != startTime'>
        #{startTime},
      </if>
      <if test ='null != endTime'>
        #{endTime},
      </if>
      <if test ='null != area'>
        #{area},
      </if>
      <if test ='null != mediaName'>
        #{mediaName},
      </if>
      <if test ='null != planNumber'>
        #{planNumber},
      </if>
      <if test ='null != measureMent'>
        #{measureMent},
      </if>
      <if test ='null != planUseTotal'>
        #{planUseTotal},
      </if>
      <if test ='null != planOutputTotal'>
        #{planOutputTotal},
      </if>
      <if test ='null != createBy'>
        #{createBy},
      </if>
      <if test ='null != createDate'>
        #{createDate},
      </if>
      <if test ='null != remark'>
        #{remark}
      </if>
    </trim>
  </insert>

  <delete id="delete" >
        DELETE FROM EMS_ENERGY_PLAN
        WHERE id = #{id}
    </delete>

  <update id="update" parameterType="com.longcheng.xxh.energycenter.entity.plan.Plan">
    UPDATE EMS_ENERGY_PLAN
    <set>
      <if test ='null != startTime'>start_time = #{startTime},</if>
      <if test ='null != endTime'>end_time = #{endTime},</if>
      <if test ='null != area'>area = #{area},</if>
      <if test ='null != mediaName'>media_name = #{mediaName},</if>
      <if test ='null != planNumber'>plan_number = #{planNumber},</if>
      <if test ='null != measureMent'>measure_ment = #{measureMent},</if>
      <if test ='null != planUseTotal'>plan_use_total = #{planUseTotal},</if>
      <if test ='null != planOutputTotal'>plan_output_total = #{planOutputTotal},</if>
      <if test ='null != createBy'>create_by = #{createBy},</if>
      <if test ='null != createDate'>create_date = #{createDate},</if>
      <if test ='null != remark'>remark = #{remark}</if>
    </set>
    WHERE id = #{id}
  </update>


  <select id="findById" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM EMS_ENERGY_PLAN
    WHERE id = #{id}
  </select>

  <select id="findByArea" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM EMS_ENERGY_PLAN
    WHERE area = #{area}
  </select>


  <select id="findByMediaName" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM EMS_ENERGY_PLAN
    WHERE MEDIA_NAME = #{mediaName}
  </select>


  <select id="findAll" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM EMS_ENERGY_PLAN
  </select>


  <select id="pageList" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM EMS_ENERGY_PLAN
    LIMIT #{offset}, #{pageSize}
  </select>

  <select id="pageListCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM EMS_ENERGY_PLAN
    </select>

</mapper>